#p5-banner {
  width: 100%;
  height: 200px; /* puedes cambiarlo luego */
  overflow: hidden;
}

.grid-projects {
  padding: 2rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 768px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}


