.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 70px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0 3rem;

  backdrop-filter: blur(8px);
  border-left: 2px solid var(--color-accent-soft);
  border-bottom: 3px solid var(--color-accent-soft);
  border-bottom-left-radius: 15px;
  margin-left: 2rem;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.menu a {
  all: unset; 
  font-weight: bold;
  color: var(--color-accent-light);
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--color-text); 
}

.nav-btn.active {
  opacity: 1;
  color: var(--color-accent-soft);
}

/* =========================
   RESPONSIVE
========================= */

/* Tablet: ≤1024px */
@media (max-width: 1024px) {
  .navbar {
    flex-wrap: wrap; 
    justify-content: center;

    border-left: none;
  }

  .menu {
   flex-wrap: wrap; 
   justify-content: space-between; 
  }
}

/* Mobile: ≤768px */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .menu {
    justify-content: center;
    gap: 1rem;
  }
}

/* Mobile pequeño: ≤480px*/
@media (max-width: 480px) {
  .navbar {
    position: relative; /* bye sticky */
    height: auto;

    padding: 1rem 0.5rem;
    margin-left: 0;

    /* quitamos decoración que estorba */
    border-bottom: none;
    border-bottom-left-radius: 0;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  .menu a {
    font-size: 0.95rem;
  }
}




