/* Estructura general */
.home {
  display: flex;
  height: 100vh;
  background-color: var(--color-black);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  padding-left: 7rem;
  padding-right: 7rem;
}

/* Panel izquierdo más ancho */
.left-panel {
  width: 50%;
  padding: 5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
}

.left-panel img {
  width: 80%;
  animation: bounceSpin 5s ease-in-out infinite;
  transform-origin: center;
}

@keyframes bounceSpin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.02) rotate(1deg);
  }
  50% {
    transform: scale(1.04) rotate(2deg);
  }
  75% {
    transform: scale(1.02) rotate(1deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

/* Títulos y párrafos */
.left-panel p {
  font-size: 1.1rem;
  color: var(--color-accent-soft);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu button {
  all: unset; 
  font-weight: bold;
  color: var(--color-text);
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menu button:hover {
  color: var(--color-hover); 
}


/* Paneles Izq-Der*/
.right-panel {
  width: 50%;
  overflow-y: scroll;
  scrollbar-width: none;           /* Firefox */
  -ms-overflow-style: none;        /* IE */
  scroll-behavior: smooth;
  padding: 7rem 1rem 1rem 1rem;;
}

.right-panel::-webkit-scrollbar {  /* Chrome y Safari */
  display: none;
}

.aboutMe-text {
  text-align: justify;
}

section {
  margin-bottom: 3rem;
}

section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-accent-light);
}

section a {
  text-decoration: none;
}

/* Lista de proyectos */
.project-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Contacto */
.say-hi {
  margin-top: 1rem;
}

.say-hi p {
  color: var(--color-accent-soft);
  text-align: right;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.email-link {
  color: var(--color-accent-light);
  text-decoration: none;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-accent-soft);
  transition: color 0.3s ease;
}

.email-link:hover {
  color: var(--color-hover);
}

.margen-secciones {
  border-left: 2px solid var(--color-accent-soft);
  border-top: 3px solid var(--color-accent-soft);
  padding-top: 2rem;
  padding-left: 3rem;
  border-top-left-radius: 15px;
}

.presentacion-txt {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column !important;
    padding: 1rem;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    padding: 1rem .5rem !important;
    align-items: center;
  }

  .right-panel {
    align-items: center;
  }

  .left-panel img {
    width: 70%;
    margin: 0 auto;
  }

  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .say-hi p {
    text-align: center;
  }

  .margen-secciones {
    padding-top: 2rem;
    padding-left: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .home {
    flex-direction: column !important;
    padding: 2rem !important;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    padding: 1rem 4rem;
  }

  .right-panel {
    overflow-y: visible;
  }

  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .say-hi p {
    text-align: left;
    font-size: 1.3rem;
  }

  .email-link {
    font-size: 1.2rem;
  }

  .project-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-image {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }

  .margen-secciones {
    padding-top: 2rem;
    padding-left: 3rem;
  }
}

.section-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.section-link h1 {
  position: relative;
  cursor: pointer;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

/* línea */
.section-link h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--color-accent);
  transition: width 0.3s ease;
}

.section-link:hover h1 {
  transform: translateX(8px);
  opacity: 0.85;
}

.section-link:hover h1::after {
  width: 40%;
}

.section-link .plus {
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.section-link:hover .plus {
  transform: rotate(90deg) translateX(4px);
  opacity: 0.7;
}